<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Minesweeper</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/qbstyle.css"/>

  </head>
  <body class="body-cont">
    <div class="header-cont center" >
      <div><h2>Jimy QbMinesweeper</h2></div>
    </div>
      <table style="margin: auto;">
        <tr><td><p style="text-align: center;"><b>Clear Cells Left</b></p><textarea readonly height="3" style="align-content:center;"><%= $m.clear_cell_count%></textarea><td></tr>
      </table>
      <table class="field" method="post" action="/click">
      <%for i in 0..$m.row+1%>
        <tr>
        <%for j in 0..$m.col+1%>
          <%next if ($m.mine_field[i,j].isBorder)%>
          <%if($m.mine_field[i,j].isChecked)%>
            <td><button id="<%= "cell#{i}"%><%= "#{j}"%>" class="button buttonChecked" row="<%= "#{i}"%>" col="<%= "#{j}"%>" onclick="checkCell(this)" oncontextmenu="flagCell(this)"><%= "#{$m.mine_field[i,j]}\t"%></button></td>
          <%elsif($m.mine_field[i,j].isFlagged)%>
            <td><button id="<%= "cell#{i}"%><%= "#{j}"%>" class="button buttonFlag" row="<%= "#{i}"%>" col="<%= "#{j}"%>" onclick="checkCell(this)" oncontextmenu="flagCell(this)"><%= "F\t"%></button></td>
          <%else%>
            <td><button id="<%= "cell#{i}"%><%= "#{j}"%>" class="button" row="<%= "#{i}"%>" col="<%= "#{j}"%>" onclick="checkCell(this)" oncontextmenu="flagCell(this)"><%= "?\t" %></button></td>
          <%end%>
        <%end%>
        </tr>
      <%end%>
      </table>

      <p id="log"></p>
      <div style="text-align: center;margin-top: 15px">
        <button id="xray" onclick="xray()"%>Xray View</button>
        <button id="resetButton" onclick="resetGame()"%>Reset Game</button>
      </div>

  <script>
    // functions to load when page load
    window.onload = function() {
      still_playing();
    };

    // check if game is ongoing
    function still_playing() {
      <%if $m.victory?%>
        alert("You win!!");
      <%elsif $m.game_over%>
        alert("You lose!!");
        resetGame();
      <%end%>
    }

    function checkCell(element) {
      $row = element.getAttribute("row");
      $col = element.getAttribute("col");
      document.getElementById("log").innerHTML = "Clicked on " + $row + $col;
      window.location = "/check/"+$row+"/"+$col;
    }

    function flagCell(element) {
      $row = element.getAttribute("row");
      $col = element.getAttribute("col");
      document.getElementById("log").innerHTML = "(Un)Set flag on " + $row + $col;
      window.location = "/flag/"+$row+"/"+$col;
    }

    function xray() {
      window.location = "/xray";
    }

    // prevent context-menu to open
    document.oncontextmenu = function() {
      return false;
    }

    function resetGame() {
      window.location = "/";
    }
  </script>
  </body>
</html>