<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Minesweeper</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/minestyle.css"/>
    <script src="/minescript.js" type="text/javascript"></script>
  </head>
   <body class="body-cont">
    <div class="header-cont center" >
      <div><h2>Jimy QbMinesweeper</h2></div>
    </div>
      <table class="header_table" style="margin: auto;">
        <tr>
          <td><label style="text-align: center;"><b>Clear Cells Left</b></label></td>
          <td><img id="clearcell1" class="score" alt="">
          <img id="clearcell2" class="score" alt="">
          <img id="clearcell3" class="score" alt=""></td>
        </tr>
        <tr>
          <td><label style="text-align: center;"><b>Flags Left</b></label></td>
          <td><img id="flags1" class="score" alt="">
          <img id="flags2" class="score" alt="">
          <img id="flags3" class="score" alt=""></td>
        </tr>
      </table>
      <table class="field" method="post" action="/click">
        <%for i in 0..$m.row+1%>
          <tr>
            <%for j in 0..$m.col+1%>
              <%next if ($m.mine_field[i,j].border?)%>
                <td>
                  <button id="<%= "cell#{i}"%><%= "#{j}"%>" class="button buttonXray" row="<%= "#{i}"%>" col="<%= "#{j}"%>"><%= "#{$m.mine_field[i,j]}\t"%>
                  </button>
                </td>
            <%end%>
          </tr>
        <%end%>
      </table>
      <div style="text-align: center;margin-top: 15px">
        <button id="normalView" onclick="window.history.back()"%>Voltar</button>
        <button id="resetButton" onclick="settings()"%>Settings</button>
      </div>

      <div style="text-align: center;margin-top: 15px">
        <button id="resetButton" onclick="quickReset()">Reset Game</button>
      </div>
  </body>
</html>

<script>
  <% clearcell = $m.clear_cell_count.to_s.chars.map(&:to_i)%>
  <% flagcount = $m.flag_count.to_s.chars.map(&:to_i)%>

  document.getElementById("clearcell1").src = scoreboard(<%=clearcell[0]%>);
  document.getElementById("clearcell2").src = scoreboard(<%=clearcell[1]%>);
  document.getElementById("clearcell3").src = scoreboard(<%=clearcell[2]%>);

  document.getElementById("flags1").src = scoreboard(<%=flagcount[0]%>);
  document.getElementById("flags2").src = scoreboard(<%=flagcount[1]%>);
  document.getElementById("flags3").src = scoreboard(<%=flagcount[2]%>);
</script>