<!DOCTYPE html>
<html>
  <head>
    <meta charset='UTF-8' />
    <title>Minesweeper</title>
    <link href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css' rel='stylesheet' />
    <link rel="stylesheet" type="text/css" href="/qbstyle.css"/>

  </head>
   <body class="body-cont">
    <div class="header-cont center" >
      <div><h2>Jimy QbMinesweeper</h2></div>
    </div>
      <table style="margin: auto;">
        <tr><td><p style="text-align: center;"><b>Clear Cells Left</b></p><textarea readonly height="3" style="align-content:center;"><%= $m.clear_cell_count%></textarea><td></tr>
      </table>
      <table class="field" method="post" action="/click">
        <%for i in 0..$m.row+1%>
          <tr>
            <%for j in 0..$m.col+1%>
              <%next if ($m.mine_field[i,j].border?)%>
                <td>
                  <button id="<%= "cell#{i}"%><%= "#{j}"%>" class="button buttonXray" row="<%= "#{i}"%>" col="<%= "#{j}"%>"><%= "#{$m.mine_field[i,j]}\t"%>
                  </button>
                </td>
            <%end%>
          </tr>
        <%end%>
      </table>
      <div style="text-align: center;margin-top: 15px">
        <button id="normalView" onclick="window.history.back()"%>Voltar</button>
        <button id="resetButton" onclick="resetGame()"%>Reset Game</button>
      </div>
  </body>
</html>
